.title-container {
    display: flex;
    justify-content: center;
}


.ticket-info-container {
    display: grid;
    column-gap: 1em;
    grid-template-columns:   auto auto;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;    
}




.processing-chip {
    background-color:#66bb6a;
    color: white;
}

.stop-button {
    background: #f04141;
    color: white;
}