<div style="display: flex; justify-content: center;">
    <h1>Warteschlange</h1>
</div>

<div *ngIf="tickets.length === 0" style="display: flex; width: 100vw; justify-content: center;">
        <h2>
            Niemand in der Warteschlange
        </h2>
    
    </div>
<div style="display: flex; align-items: center;  max-width: 95vw;">

<div class="queue">
    <button [ngClass]="{'processing': ticket.status=='processing' && ticket.id===currentTicketId, 'in-process': ticket.status=='processing' && ticket.id!==currentTicketId }" [@create_close] tabIndex="-1" class="queue-item"mat-fab *ngFor="let ticket of tickets; trackBy:trackByFn">
        {{ ticket.id }}
    </button>
</div> 
<span style="align-self: flex-start;" *ngIf="tickets.length > 0" [matBadge]="tickets.length" matBadgeOverlap="false">Total</span>
</div>
<div class="start-button-container">
    <button #button [disabled]="disabled()" (click)="start()" class="start-button" mat-raised-button>
        STARTEN
    </button>

</div>

<div *ngIf="state.PROCESSING">
    <app-processing [ticketId]="currentTicketId" (closeTicket)="stop()"></app-processing>
</div>
