Order allow,deny

Allow from all

<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On
    RewriteBase /backend/login/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
    SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
</IfModule>